.input{
 position: absolute;
 left: 100px;
    height: 60px;
     width: 400px;
      margin: 50px; 
      font-Size: 30px;
      border: 1px solid black;
}
.submit{
    border: 2.5px solid black;
    font-size: 20px;
    color: white;
    background-color: lightseagreen;
    position: absolute;
    left: 406px;
    top:51px;
    height: 63px;
     width: 100px;
      margin-Left: 50px;
}
.cards{
    display: flex;
     flex-Direction: row;
      flex-Wrap: wrap;
      position:absolute;
      top:240px;
      left:100px;
       width: 2000px;
}
.box{
    border-Radius:15px;
    width: 322px;
     height: 410px;
      /* margin-left: 30px; */
      border: 1px solid black;
          background-Color:lightgreen;
    box-shadow: 5px 5px 5px  rgb(134, 131, 131);
}
.btn{
    text-decoration: none;
    padding: 2px;
     border: 1px solid white;
      margin: 10px;
       background-Color: steelblue;
        border-Radius: 4px; 
        /* border: 1px solid black; */
          color: white;
           font-Size: 34px; 
    /* box-shadow: 3px 3px 3px  gainsboro; */
}
.line{
    /* font-Size: 20px; */
     /* margin: 10px;  */
     /* display: block; */
     color:white;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 34px; 
    max-height: 72px;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
}
.page{
    border-radius: 5px;
    position: absolute;
    right: 110px;
    top: 40px;
    /* background-color: lightsteelblue; */
    /* background-color: beige; */
    height: 50px;
    width: 300px;
    /* display: inline; */
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.page button{
    background-color: lightsteelblue;
    font-size: 40px;
    text-align: center;
    height: 50px;
    width: 100px;
    border: 1px solid black;
   
}
button:hover{
    background-color: white;
    color: black;
}
.number{
    /* z-index: 1; */
    height: 60px;
    width: 100px;
    border-radius:5px;
    text-align: center;
    border: 1px solid lightseagreen;
    background-color: lightsteelblue;
    /* background-color: gainsboro; */
    font-size: 30px;
    position: absolute;
    top:10%;
    right: 14.5%;
}
.num{
    border-radius: 4px;
    border: 1px solid black;
    font-size: 40px;
    padding-right: 50px;
    text-align:end ;
    display: none;
    z-index: -1;
    position: relative;
    top: -40px;
    width: 200px;
    height: 60px;
    background-color:whitesmoke;

}
.cardinfo{
    border:1px solid black ;
      height: 400px;
       width: 320px; 
              border-Radius: 15px;
               background-color: whitesmoke; 
               display: flex;
                flex-Direction: column;
                justify-content: space-between;
    transition: transform .2s;
    display: inline-block;
    position: relative;

}
.cardhover{
    background: linear-gradient( to bottom ,#3E4E19,#00000C,#080101,#000000,#000000 );
   
    color: white;
    width: 291.5px;
    display: none;
    margin: 15px;
    padding-bottom: 5px;
    
}
.cardinfo:hover .cardhover{
    transform: scale(1.1);
    position: relative;
    bottom: 140px;
    display: block;
}
.box:hover{
    transform: scale(1.1);
}
.numberinfo{
    color: white;
    background-color: black;
    height: 100px;
    width: 320px;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top:1px solid lightgreen;
    display: flex;

}
.numinfo{

    height: 70px;
    width: 80px;
    /* border:1px solid black; */
}
#numinfo1{
    padding-left: 20px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 34px; 
    max-height: 72px;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    text-shadow: 2px  gainsboro;
    font-Size:25px;
    color:whitesmoke;
    width: 180px;
    border-bottom-left-radius: 20px;
}
#numinfo2{
    border: 4px solid lightgreen;
   position: relative;
   left: 10px;
   color: white;
   bottom: 50px;
   border-radius: 50%;
}
.shareimg{
    border-radius: 50%;
    height:70px;
    width: 80px;
}
@media (max-width:1600px){
    .cards{
        position: absolute;
       left: -20px;
        
    }
}
@media  (max-width: 460px) {
    
    .page{
        position: relative;
       right: 200px;
    }
    
    .input{
      
        width: 200px;
    }
    .number{
        position: relative;
        right: -200px;
    }
    .num{
        position: absolute;
        /* left: -200px; */
        /* top:400px */
    }
     
}
@media(max-width:500px){
    .number{
        position: relative;
        left:350px;
    }
    .page{
        position: absolute;
       left:350px
    }
    .number{
        position: relative;
        top: 100px;
        font-size: 15px;
        /* width: 100px; */
        height: 35px;
    }
}
@media (max-width:400px){
    .number{
        position: absolute;
        right: -50px;
    }
}
@media(max-width:350px){
    .cards{
        width: 400px;
    }
    .input{
        width: 60px;
    }
    .number{
        position: absolute;
        left: 380px;
        top: 120px;
        font-size: 22px;
        width: 150px;
        /* display: none; */
    }

    .page{
        font-size: 20px;
        width: 240px;
        position: absolute;
        left: 380px;
        top: 150px;
        /* display: none; */
    }
    .page button{
        width: 80px;
    }
}
 @media (max-width:1320px){
      .cards{ 
          /* margin-left: 10px; */
          /* padding-left: -50px; */
          margin-left:20px;
          /* background-color: blue; */
          /* width: 1200px; */
      }
      .box{
          margin-left: -50px;
      }
      .input{
          width: 200px;
      }
      .page{
          position:relative;
          left: 500px;
          top: -140px;
      }
      .submit{
          position: relative;
          left: -50px;
      }
      .number{
          font-size: 20px;
          width: 150px;
        position:relative;
        left: 500px;
        top: -140px;
      }
  }
  @media (max-width:1196px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 1190px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 450px;
      top: -140px;
    }
}
@media (max-width:1140px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 800px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        position: absolute;
        left: 0px;
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 450px;
      top: 80px;
    }
}
@media (max-width:1198px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 1100px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 350px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 350px;
      top: 100px;
    }
}
@media (max-width:1195px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 1150px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left:450px;
        top: -110px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 450px;
      top: -120px;
    }
}
@media (max-width:1190px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 800px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 0px;
      top: 0px;
    }
}
@media (max-width:1200px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: -50px; */
        margin-left:20px;
        /* background-color: blue; */
        width: 1150px;
    }
    .box{
        margin-left: -50px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 450px;
      top: -150px;
    }
}
@media (max-width:1050px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: 30px; */
        margin-left:50px;
        /* background-color: blue; */
        width: 1050px;
    }
    .box{
        margin-left: -100px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -10px;
    }
    .submit{
        position: relative;
        left: 205px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 460px;
      top: 10px;
    }
    .num{
        position: relative;
        top:-25px;
    }
}
@media (max-width:1000px){
    .cards{ 
        /* margin-left: 10px; */
        /* padding-left: 30px; */
        margin-left:50px;
        /* background-color: blue; */
        width: 1000px;
    }
    .box{
        margin-left: -100px;
    }
    .input{
        width: 200px;
    }
    .page{
        position:relative;
        left: 450px;
        top: -140px;
    }
    .submit{
        position: relative;
        left: -50px;
    }
    .number{
        font-size: 20px;
        width: 150px;
      position:relative;
      left: 450px;
      top: -150px;
    }
}
  @media (max-width:800px){
    .cards{
        /* padding-left: -20px; */
          padding-left:-5px;
          
        width: 780px;
    }
    .page{
        position: absolute;
        right:100px;
        top: 30px;
    }
    .number{
        position: absolute;
        right: 100px;
    }
    .submit{
        position: absolute;
        left: 0px;
        top:150px
    }
    .input{
        width: 200px;
    }
    .box{
        margin-left: -100px;
    }
    .num{
        position: absolute;
        left: 50px;
    }
    }
    
   
    @media (max-width:950px){

        .page{
            position: absolute;
            right:-80px;
            top: 30px;
        }
        .number{
            position: absolute;
            right: -80px;
        }
        .num{
            position: relative;
            top: -25px;
        }
    }
  @media (max-width:700px){
      .cards{
          width: 800px;

      }
  }
 @media (max-width:900px){
     .number{
         position: absolute;
         left: 350px;
         top: -150px;
     }
 }
 @media (max-width:950px){
    .number{
        position: relative;
        left: 460px;
        top: -80px;
    }
}
@media (max-width:1800px){
    .cards{
        /* background-color: blue; */
        /* margin-left: -100px; */
        width: 1400px;
    }
}
@media (max-width:1630px){
    .cards{
        /* background-color: blue; */
        /* margin-left: -100px; */
        width: 1100px;
    }
}
@media (max-width:1500px){
      .cards{
         /* background-color: chartreuse; */
         width: 1400px;
      }
}
@media (max-width:1330px){
    .cards{
        /* background-color: rgb(80, 83, 255); */
        max-width:1200px ;
    }
}
@media (max-width:1080px){
  .cards{
      /* background-color: crimson; */
      max-width: 800px;
  }
  
}
@media (max-width:780px){
  .cards{
      margin-left: -5px;
      /* background-color: darkgoldenrod; */
      max-width: 800px;
  }
  .num{
      position: absolute;
      left: 0px;
  }
  .number{
      top: 100px;
      position: relative;
      left: 450px;
  }
  .box{
      width: 300px;
  }
}
@media (max-width:580px){
    .cards{
        margin-left: 50px;
        /* margin-left: 40px; */
        /* background-color: darksalmon; */
      max-width: 500px;
    }
    .page{
         width: 150px;
        position:absolute;
        left: 280px;
        top: 50px;
    }
    .page button{
        width: 50px;
        height: 50px;
    }
    .number{

        position:relative;
        left: 280px;
        top: 100px;
        width: 60px;
    }
    .num{
        height: 32px;
        font-size: 20px;
        width: 80px;
    }
}
@media (max-width:1780px){
    .cards{
        /* margin-left: 500px; */
        /* background-color: blue; */
        /* margin-left: -100px; */
        width: 1600px;
    }
}
@media (max-width:2000px){
    .cards{
        /* background-color: blue; */
        /* margin-left: -100px; */
        width: 1900px;
    }
}
@media(max-width:360px){
    .cards{
        /* position: static; */
        /* background-color: darkviolet; */
        width: 300px;
        margin-top: 20px;
        margin-left: -5px;
    }
    
    .input{
        position: absolute;
        left: 0px;
        width: 100px;
    }
    .page{
        top: 100px;
        /* font-size: 10px; */
        height: 30px;
        width: 100px;
        position: absolute;
        left: 170px;
    }
    .page button{
        font-size: 15px;
        width: 34px;
        height: 30px;
    }
    .number{
        padding-top: 5px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 100px;
        height: 35px;
        position: relative;
        left: 170px;
        top:162px;
    }
  

}
@media (max-width:414px){
      .num{
         position: relative;
         left: 10px;
          width: 80px;
          height: 34px;
          text-align: center;
          padding: 0px;
          font-size: 20px;
      }
      .cards{
          /* background-color: deepskyblue; */
          width: 380px;
      }
      .input{
          position: absolute;
          left: 0px;
        width: 100px;
    }
    .page{
        height: 30px;
        width: 100px;
        position: absolute;
        left: 170px;
    }
    .page button{
        font-size: 15px;
        width: 34px;
        height: 30px;
    }
    .number{
        position: absolute;
        left: 170px;
        top: 140px;
        font-size: 15px;
        width: 40px;
        height: 35px;
    }

}
@media (max-width:540px){
    .number{
        position: relative;
        /* top: 100px; */
        font-size: 15px;
        /* width: 100px; */
        height: 35px;
    }
    .page{
        height: 30px;
        width: 100px;
        /* position: absolute; */
        /* left: 170px; */
    }
    .page button{
        font-size: 15px;
        width: 34px;
        height: 30px;
    }
    .num{
        position: relative;
        top: -20px;
    }
}
